*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

@page{
    size: A4;
    margin: 1cm;
}
main{
      width: 794px;
  height: 1123px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  font-size: 12px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* line-height: 25px; */
    position: relative;
    height: fit-content;
    /* gap: 3px; */
}
.un{
    text-decoration: underline;
    font-size: 20px;
    
}
#heading{
    font-weight: 500;
    font-size: 30px;
}
#uni{
    font-weight: 500;
    font-size: 20px;
}
#month>span{
  font-size:14px ;
 font-weight: 700;

}


.table-1{
    width: 100%;
    /* height: fit-content; */
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 16px;  
    padding: 15px;
        
}
.left,.right{
    line-height: 30px;
}
table{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    border-spacing: 0;
    font-size: 14px;
    margin-top: 3px;
    border-radius: 25px;
    overflow: hidden;
}
.table2 th , .table2 td{
  border: 1px solid black;
  padding: 18px;
}
.table2>th{
    font-weight: bold;
}
#t-unit{
    text-align: center;
}
#addr{
    vertical-align: top;
  padding-left:10px ;
  padding-top: 0;  
}



.s3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px ;
   padding: 10px;
   font-size: 16px;
}
.table-3>table{
    width: 100%;
    border-radius: 0;
    align-items: center;
    border-spacing: 0;

}
.table-3>table>tr,th,td{
    border: 1px solid black;
    padding: 10px;

}

.table-3>table>th,td{
    text-align: left;
}

.table-3 table td:nth-child(3),
.table-3 table td:nth-child(4){
    text-align: right;
}

.footer{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-size: 18px;
}
.footer .f1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
.footer .f2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
        padding-left: 10px;

}